
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
.body{
  font-family: Open Sans;
  background-color: #d5d5d5
}
#overlay {
  margin: 5vh 5vw;
  width:90vw;
  height: 90vh;
  background-color: #f0eeee;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}

#overlay img {
  height: 100%;
  width: 100%;
}

.grid {
  column-count: 3;
  
  margin: 3rem 20rem;

  
}

.grid img {
  max-width: 200px;
  padding: 0.5rem;
  z-index: 0;

}

.App {
  text-align: center;
  background-color: #d5d5d5
}

.title {
  color: black;
  font-family: Open Sans;
font-size: 45px;
margin-top: 50px;
  
}


.subtitle  {
  color: rgba(138, 136, 136, 0.973);
  font-family: Open Sans;
  font-size: 30px;
  font-style: bold;
  margin-bottom: 35px;
  
  

  
}

.img-div{
  position: relative;
  

}

 .img-overlay{
  z-index: 1;
  width: 216px;
  height: 149px;
  position: absolute;
  
  text-align: left;
  margin-left: 55px;
    margin-top: 5px;
  }

  .img-overlay:hover {
    background: linear-gradient(to top left, rgba(255, 255, 255, .1) 0%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .4) 50%);
  }

.footer:hover{

  color:red;
}
.foot {
  margin-right: 550px;
    margin-bottom: 300px;
    padding-right: 400px;
    padding-bottom: 400px;
}




.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #d5d5d5;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: black;
  font-family: Open Sans;
  text-align: start;
  text-indent: 1cm;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
  
  
}
